$font-primary: "RockfordSans", sans-serif;
$font-secondary: "RockfordSans", sans-serif;

@font-face {
    font-family: "RockfordSans";
    src: url("fonts/RockfordSans-Light.otf") format("opentype");
}
