<div class="grid-tercio">
    <div>
        {{#each data.battleStatus as |status key|}}
            <div class="resource flex-group-center">
                <label
                    for="data.battleStatus.{{key}}.value"
                    class="resource-label2"
                >{{status.tag}}</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input
                        type="text"
                        name="data.battleStatus.{{key}}.value"
                        value="{{status.value}}"
                        data-dtype="Number"
                    />
                </div>
            </div>
        {{/each}}
        {{#if data.editMode}}
        {{> "systems/loghorizon/templates/actor/partials/editBattle.hbs"}}
        {{/if}}
    </div>

    <div>
        <h2>Skills</h2>
        {{> "systems/loghorizon/templates/actor/partials/skills.hbs"}}
    </div>
</div>