<div class="resource flex-group-center">
    <label for="data.health.extra" class="resource-label2">Extra Health:</label>
    <div class="resource-content flexrow flex-center flex-between">
        <input
            type="text"
            name="data.health.extra"
            value="{{data.health.extra}}"
            data-dtype="Number"
        />
    </div>
</div>