.window-app {
    font-family: $font-primary;
    background-color: $main-color;
}

.window-content {
    border: none;
}

.window-title {
    font-weight: bold;
    color: $accent-color;
}

.rollable {
    &:hover,
    &:focus {
        color: white;
        text-shadow: 0 0 10px $accent-color;
        cursor: pointer;
    }
}
