.window-app {
    font-family: $font-primary;
    background-color: $main-color;
}

.rollable {
    &:hover,
    &:focus {
        color: white;
        text-shadow: 0 0 10px $accent-color;
        cursor: pointer;
    }
}
