<form class="{{cssClass}} item-form" autocomplete="off">
    <header class="sheet-header">
        <img
            class="profile-img"
            src="{{item.img}}"
            data-edit="img"
            title="{{item.name}}"
        />
        <div class="header-fields">
            <h1 class="charname">
                <input
                    name="name"
                    type="text"
                    value="{{item.name}}"
                    placeholder="Name"
                />
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}

        <div class="tab" data-group="primary" data-tab="description">
            <div class="flexrow">
                <label for="data.archetype" class="resource-label2">
                    Archetype
                </label>
                <input
                    type="text"
                    name="data.archetype"
                    value="{{data.archetype}}"
                    data-dtype="Text"
                />
            </div>

            <label for="data.description" class="resource-label2">
                Description
            </label>
            {{editor content=data.description target="data.description"
            button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div>
                <div class="attribute flexrow flex-group-center">
                    <label for="data.hp.base" class="resource-label2"
                        >HP base</label
                    >
                    <input
                        type="text"
                        name="data.hp.base"
                        value="{{data.hp.base}}"
                        data-dtype="Number"
                    />
                </div>
                <div class="attribute flexrow flex-group-center">
                    <label for="data.hp.modifier" class="resource-label2"
                        >HP modifier</label
                    >
                    <input
                        type="text"
                        name="data.hp.modifier"
                        value="{{data.hp.modifier}}"
                        data-dtype="Number"
                    />
                </div>
                {{#each data.statIncreases as |attribute key|}}
                <div class="attribute flexrow flex-group-center">
                    <label
                        for="data.statIncreases.{{key}}.value"
                        class="resource-label"
                        >{{key}}</label
                    >
                    <input
                        type="text"
                        name="data.statIncreases.{{key}}.value"
                        value="{{attribute.value}}"
                        data-dtype="Number"
                    />
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</form>
