<form class="{{cssClass}} item-form skill" autocomplete="off">
    <header class="sheet-header">
        <img
            src="{{item.img}}"
            data-edit="img"
            title="{{item.name}}"
            height="30"
            width="30"
        />
        <div class="header-fields">
            <h1 class="charname">
                <input
                    name="name"
                    type="text"
                    value="{{item.name}}"
                    placeholder="Name"
                />
            </h1>

            <div class="resource flexcol">
                <label for="data.fate" class="resource-label2"
                    >Uses fate:</label
                >
                <input name="data.fate" type="checkbox" {{checked data.fate}} />
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}

    <section class="sheet-body">
        <div class="tags-grid">
            <div class="resource flexcol">
                <label for="data.type" class="resource-label2">Type</label>
                <input
                    type="text"
                    name="data.type"
                    value="{{data.type}}"
                    data-dtype="Text"
                />
            </div>
            <div class="resource flexcol">
                <label for="data.tags" class="resource-label2">Tags</label>
                <input
                    type="text"
                    name="data.tags"
                    value="{{data.tags}}"
                    data-dtype="Text"
                />
            </div>
        </div>
        <div class="grid-2col">
            <div class="resource flexrow flex-group-left">
                <label for="data.maxSR" class="resource-label2">SR</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input
                        type="text"
                        name="data.rank"
                        value="{{data.rank}}"
                        data-dtype="Number"
                    />
                    <span> / </span>
                    <input
                        type="text"
                        name="data.maxSR"
                        value="{{data.maxSR}}"
                        data-dtype="Number"
                    />
                </div>
            </div>
            <div class="resource flexrow flex-group-left">
                <label for="data.timing" class="resource-label2">Timing</label>
                <input
                    type="text"
                    name="data.timing"
                    value="{{data.timing}}"
                    data-dtype="Text"
                />
            </div>
        </div>
        <div class="resource flexrow flex-group-left">
            <label for="data.check" class="resource-label2">Check</label>
            <input
                type="text"
                name="data.check"
                value="{{data.check}}"
                data-dtype="Text"
            />
        </div>
        <div class="grid-2col">
            <div class="resource flexrow flex-group-left">
                <label for="data.target" class="resource-label2">Target</label>
                <input
                    type="text"
                    name="data.target"
                    value="{{data.target}}"
                    data-dtype="Text"
                />
            </div>

            <div class="resource flexrow flex-group-left">
                <label for="data.cost" class="resource-label2">Cost</label>
                <input
                    type="text"
                    name="data.cost"
                    value="{{data.cost}}"
                    data-dtype="Text"
                />
            </div>

            <div class="resource flexrow flex-group-left">
                <label for="data.range" class="resource-label2">Range</label>
                <input
                    type="text"
                    name="data.range"
                    value="{{data.range}}"
                    data-dtype="Text"
                />
            </div>

            <div class="resource flexrow flex-group-left">
                <label for="data.limit" class="resource-label2">Limit</label>
                <input
                    type="text"
                    name="data.limit"
                    value="{{data.limit}}"
                    data-dtype="Text"
                />
            </div>
        </div>

        <div class="resource flexrow flex-group-left">
            <label for="data.ability" class="resource-label2">Skill</label>
            <input
                type="text"
                name="data.ability"
                value="{{data.ability}}"
                data-dtype="Number"
            />
        </div>

        <br />
        <label for="data.description" class="resource-label2">
            Description
        </label>
        <textarea name="data.description">{{data.description}}</textarea>
    </section>
</form>
