<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img
            src="{{item.img}}"
            data-edit="img"
            title="{{item.name}}"
            height="64"
            width="64"
        />
        <h1>
            <input
                name="name"
                type="text"
                value="{{item.name}}"
                placeholder="Name"
            />
        </h1>
    </header>
    <section class="sheet-body">
        <div class="resources grid grid-1col">
            <div class="resource flexrow flex-group-center">
                <label for="data.category" class="resource-label"
                    >Category</label
                >
                <input
                    type="text"
                    name="data.category"
                    value="{{data.category}}"
                    data-dtype="Text"
                />
            </div>

            <div class="resource flexrow flex-group-center">
                <label for="data.rank" class="resource-label">Rank</label>
                <input
                    type="text"
                    name="data.rank"
                    value="{{data.rank}}"
                    data-dtype="Number"
                />
            </div>
            <div class="resource flexrow flex-group-center">
                <label for="data.tagList" class="resource-label">Tags</label>
                <input
                    type="text"
                    name="data.tagList"
                    value="{{data.tagList}}"
                    data-dtype="Text"
                />
            </div>
            <div class="resource flexrow flex-group-center">
                <label for="data.price" class="resource-label">Price</label>
                <input
                    type="text"
                    name="data.price"
                    value="{{data.price}}"
                    data-dtype="Number"
                />
            </div>
            <div class="resource flexrow flex-group-center">
                <label for="data.attack" class="resource-label">Attack</label>
                <input
                    type="text"
                    name="data.attack"
                    value="{{data.attack}}"
                    data-dtype="Number"
                />
            </div>
            <div class="resource flexrow flex-group-center">
                <label for="data.magic" class="resource-label">Magic</label>
                <input
                    type="text"
                    name="data.magic"
                    value="{{data.magic}}"
                    data-dtype="Number"
                />
            </div>
            <div class="resource flexrow flex-group-center">
                <label for="data.pdef" class="resource-label">P. Def</label>
                <input
                    type="text"
                    name="data.pdef"
                    value="{{data.pdef}}"
                    data-dtype="Number"
                />
            </div>
            <div class="resource flexrow flex-group-center">
                <label for="data.mdef" class="resource-label">M. Def</label>
                <input
                    type="text"
                    name="data.mdef"
                    value="{{data.mdef}}"
                    data-dtype="Number"
                />
            </div>
            <div class="resource flexrow flex-group-center">
                <label for="data.accuracy" class="resource-label"
                    >Accuracy</label
                >
                <input
                    type="text"
                    name="data.accuracy"
                    value="{{data.accuracy}}"
                    data-dtype="Number"
                />
            </div>
            <div class="resource flexrow flex-group-center">
                <label for="data.initiative" class="resource-label"
                    >Initiative</label
                >
                <input
                    type="text"
                    name="data.initiative"
                    value="{{data.initiative}}"
                    data-dtype="Number"
                />
            </div>
        </div>
    </section>
</form>
